.sec
{
	margin-bottom: 20px;
	margin-top: 20px;
	/*text-align: center;*/
	border-left: 1px solid white
	border-right: 1px solid white;
	border-top: 1px solid white;
	border-bottom:  1px solid orange;
	font-size: 15px;
}
table {
    border-collapse: collapse;
    width: 80%;
}

 td {
    padding: 8px;
    text-align: center;

}

tr{

	margin-bottom: 50px;
}

td{
	border: none;
}

